GUNDESHAPUR and Tangir should always use plural, as its bonus only happen with 2+ districts.
		
	Ma'i has the Maingmaw Civilopedia Text.
	
Hasupuweteri - Yanomami. Agrarial - Fallback - Military?
Even though is not the most proheminent, might be used through Kenneth Good's literature.
Maloca Improvement
https://journals.openedition.org/aa/347

O primeiro círculo, num raio de cinco quilômetros, circunscreve a área de uso imediato da comunidade: pequena coleta feminina, pesca individual ou, no verão, pesca coletiva com timbó, caça ocasional de curta duração (ao amanhecer ou ao entardecer) e atividades agrícolas. O segundo círculo, num raio de cinco a dez quilômetros, é a área de caça individual (rama huu) e da coleta familiar do dia-a-dia.

O terceiro círculo, num raio de dez a vinte quilômetros, é a área das expedições de caça coletivas (henimou) de uma a duas semanas que antecedem os rituais funerários (cremações dos ossos, enterros ou ingestões de cinzas nas cerimônias intercomunitárias reahu), bem como das longas expedições plurifamiliares de coleta e caça (três a seis semanas) durante a fase de maturação das novas roças (waima huu). Encontram-se também nesse "terceiro círculo" tanto as roças novas quanto as antigas, junto às quais se acampa esporadicamente – para cultivar nas primeiras, colher nas segundas – e em cujos arredores a caça é abundante.

Guarani - Religious
luxury Mate + somehow resistance to prosetelyzing (bonus religious spread in all cities OR keep belief bonus if at least 1 follower - both must have founded a religion).
