GUNDESHAPUR and Tangir should always use plural, as its bonus only happen with 2+ districts.
		
	Ma'i has the Maingmaw Civilopedia Text.
	
Hasupuweteri - Yanomami. Agrarial - Fallback - Military?
Even though is not the most proheminent, might be used through Kenneth Good's literature.
Maloca Improvement
https://journals.openedition.org/aa/347

Guarani - Religious
luxury Mate + somehow resistance to prosetelyzing (bonus religious spread in all cities OR keep belief bonus if at least 1 follower - both must have founded a religion).
